.contact{
    height: 100%;
    max-width: 1366px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer{
        flex:1;

        .wrapper{
            display: flex;
            flex-direction: column;
            gap: 40px;
            h1{
                font-size: 100px;
                line-height: 90px;
            }
            .item{

                h2{
                    font-size: 30px;
                    font-weight: 400;
                }
                span{
                    font-size: 24px;
                    font-weight: 250;
                }
            }
        }
    }

    .formContainer{
        flex:1;
        position: relative;

        .phoneSvg{
            // background-color: gray;
            stroke: orange;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            input, textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
            }

            button{
                background-color: orange;
                padding: 20px;
                font-weight: 600;
                cursor: pointer;
                border: none;
            }
        }
    }
}