.navbar {
  height: 100px;


  .wrapper {
    // max-width: 1366px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;


    img {
      width: 20px;
      height: 20px;
    }
  }
}