.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        width: 300px;
        height: 100%;
        background-color: white;
        overflow-y: auto;
        // box-shadow: 10px 0 5px rgba(0, 0, 0, 0.3);
        
        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            a{
                font-size: 30px;
                color: black;
                text-decoration: none;
            }
        }
    }
    button {
        position: absolute;
        z-index: 999;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .hamburger-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
}