.intro {
    height: calc(100vh - 100px);
    width: 100vw;
    background: linear-gradient(to bottom, #0c0c1d, #111132);
    overflow: hidden;
    .wrapper{
        width: 85%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        
        .textContainer{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            h2{
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 5px;
            }

            h1{
                font-size: 80px;
                color: white;
            }
            .buttons{
                button{
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    // background-color: transparent;
                    // color: white;
                    font-weight: 500;
                    cursor: pointer;
                    margin-right: 20px;
                }
            }
            img{
                width: 50px;
            }
        }



    }
    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        font-weight: 800;
        color: #ffffff0e;
        bottom: -120px;
        width: 100%;
        display: flex;
        overflow: hidden;

        & > div {
            display: flex;
            white-space: nowrap;
        }
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 500px;
            height: 500px;
            object-fit: cover;
            object-position: center top;
            border-radius: 100%;
        }
    }



}